Password Validator:
* must be between 8 and 20 characters in length (inclusive)
* must have at least one number
* must have at least one uppercase letter
* must have at least one lowercase letter
* must have at least one special symbol